.profile-stats {
    align-items: flex-start;
    display: flex;
}
.profile-statistic {
    font-weight: 400;
    text-align: center;
}
.profile-statistic .value {
    color: #d8e0e8;
    display: block;
    font-family: TiemposTextWeb-Semibold,Georgia,serif;
    font-size: 1.61538462rem;
    font-weight: 400;
}
.profile-statistic .definition {
    color: #9ab;
    color: #678;
    display: block;
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 1rem;
    font-size: .76923077rem;
    font-weight: 400;
    letter-spacing: .075em;
    margin-top: 0.75em;
    text-transform: uppercase;
}
a {
    color: #b2a377;
    text-decoration: none;
    border: 0;
    font-family: inherit;
}
h4 {
    margin-right: 10px;
}

.profile-navigation {
    border: 1px solid #4f5c69;
    border-radius: 3px;
    align-items: center;
}

nav {
    display: block;
}



